/* ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
/* アニメーション */
.is-animated {
  opacity: 1;
  animation: slideIna 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  perspective: 1000;
}

@keyframes slideIna {
  0% {
    transform: translateX(180px);
    opacity: 0;
    -webkit-transition: -webkit-transform all 3s;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
    -webkit-transition: -webkit-transform all 3s;
  }
}

/* 右から左にスライドさせるぜってクラス */
.right-to-left {
  display: block;
  opacity: 1;
  animation: right-to-left 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  perspective: 1000;
}

@keyframes right-to-left {
  0% {
    transform: translateX(180px);
    opacity: 0;
    -webkit-transition: -webkit-transform all 3s;
  }
  100% {
    transform: translateX(0);
    -webkit-transition: -webkit-transform all 3s;
  }
  40%,
  100% {
    opacity: 1;
  }
}
/* 左から右にスライドさせるぜってクラス */
.left-to-right {
  display: block;
  opacity: 1;
  animation: left-to-right 3s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  perspective: 1000;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}
/* ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
