/* A Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif JP", serif;
  font-family: "M PLUS 1p";
  font-size: 1.6rem;
  line-height: 2.1;
  color: #797e81;
  margin: 0;
  padding: 0%;
  /* 全体を中央寄せ */
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

section {
  background-color: #fff;
}
/* ---------------------------------
  kv
---------------------------------- */
/* 全体設定 */
#kv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("./images/beach.jpg") center / cover;
  /* ヘッダー使いたくなったらEnableに */
  /* z-index: -1; */
  position: relative;
  /* position: fixed; */
}

#kv::after {
  display: block;
  /* "親要素"を基準に絶対位置 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* マット */
  background: rgba(0, 0, 0, 0.5);
  /* 空のコンテンツ:必須 */
  content: “”;
}

/* ナビリンク */
nav {
  position: absolute;
  width: 50%;
  top: 10vh;
  left: 50%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

/* ボタン */
nav a {
  display: block;
  padding: 1px 3rem;
  font-weight: bold;
  border: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  border-bottom: solid 2px whitesmoke;
  /* border-radius: 5px; */
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  /* 全要素を0.8秒かけて表示する */
  transition: all 0.5s;
  color: whitesmoke;
}

/* サイト名 */
.site-name-wrap {
  height: 20vh;
  border: 1px solid whitesmoke;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: calc(50% - 15vh);
  /* top: calc(50% - 0.5em); */
  width: 100%;
  /* 以下3つで上下中央揃え※heightは必須 */
  display: flex;
  align-items: center;
  justify-content: center;
  /*  */
  height: 100%;
  width: 100%;
  top: 0;
}

.site-name {
  padding: 3rem;
  border: solid 0.5rem whitesmoke;
  border-radius: 10px;
}

.h1 {
  color: whitesmoke;
  line-height: 1;
  letter-spacing: 1.5rem;
  font-size: 8rem;
  font-weight: bold;
}

/* ---------------------------------
  main: 共通
---------------------------------- */
main {
  /* margin-top: 100vh; */
}

/* 各セクション */
.my-wrap {
  padding-top: 15vh;
}

/* タイトル */
.title {
  margin-bottom: 8rem;
  position: relative;
}

/* 見出し */
.title h2 {
  font-size: 9rem;
  /* font-weight: bold; */
  z-index: -1;
  color: rgba(0, 0, 0, 0.1);
  /* letter-spacing: 0.1em; */
}

.title-h2 {
  font-size: 15rem;
  font-weight: bold;
  color: #ea7558;
  margin-left: 0;
}

/* 小見出し */
.title p {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 70%;
  left: 52%;
}

.my-inner {
  display: flex;
  height: 600px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.img {
  width: 50%;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

.text {
  width: 50%;
  background-color: white;
  justify-content: center; /* 左右中央揃え */
  /* 以下3つで上下中央揃え※heightは必須 */
  display: flex;
  align-items: center;
  flex-direction: column; /* 横並びを解除 */
}
/* ---------------------------------
  about
---------------------------------- */
#about {
  background-color: rgba(245, 245, 245, 1);
}
#about .img {
  /* 背景画像の指定                     繰り返しなし 中央   中央合わせ 配置方法 */
  background: url(./images/selfy.JPG) no-repeat center center / cover;
}

.name {
  font-size: 4rem;
  margin-bottom: 1rem;
}
/* ---------------------------------
skill
---------------------------------- */
#skill {
  background-color: rgba(0, 0, 0, 0.12);
}
#skill .img {
  /* 背景画像の指定                     繰り返しなし 中央   中央合わせ 配置方法 */
  background: url(./images/code-g2082b141e_1920.jpg) no-repeat center center /
    cover;
}

/* ---------------------------------
work
---------------------------------- */
#work {
  background-color: rgba(26, 35, 38, 0.3);
}
#work .img {
  /* 背景画像の指定                     繰り返しなし 中央   中央合わせ 配置方法 */
  background: url(./images/student-g846db50f6_1920.jpg) no-repeat center center /
    cover;
}

/* ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
/* フッター */
footer {
  /* padding: 120px 0 0 0; */
  position: relative;
  /* background: #1d2326; */
}

footer a {
  color: #ea7558;
}

.copyright {
  font-size: 1.5rem;
  color: #d4dde2;
  letter-spacing: 0.05em;
  padding: 60px 0;
  background: #111619;
}
